<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
</head>
<body>
    <table border="1">
    <tr>
        <td>이름</td>
        <td><%=name%></td>
    </tr>
    <tr>
        <td>제목</td>
        <td><%=title%></td>
        
    </tr>
    <tr>
        <td>내용</td>
        <td><%=content%></td>
    </tr>
</table>
    <!-- <div id ="buttons">
        <a herf="#"><img src="./확인.png"></a>
    </div> -->
</body>
</html>