<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
    
</head>
<body>
    <h2 id="board_title">자유 게시판</h2>
    <div id="write_title"><h2>글쓰기</h2></div>

    <form action="/ejs_test" method="get">

    <table>
        <tr id="name">
            <td class ="col1">이름</td>
            <td class ="col2"><input type=text name ="name"></td>
        </tr>
        <tr id="title">
            <td class ="col1">제목</td>
            <td class="col2"><input type="text" name = "title"></td> 
        </tr>
        <tr id="content">
            <td class ="col1">내용</td>
            <td class ="col2"><textarea name="content"></textarea></td>
        </tr>
    </table>
    <button id ="buttons" input type="submit">
        완료
    </button>
</form>
</body>
</html>