<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Test 1 </h1>
    
    <FORM action="/api/customersList">
    <INPUT TYPE="submit" VALUE="조회"> </FORM><p></p>
    
    <FORM action="/api/customers/insert_view">
    <INPUT TYPE="submit" VALUE="삽입"> </FORM><p></p>

    <FORM action="/api/customers/update_view">
    <INPUT TYPE="submit" VALUE="수정"> </FORM><p></p>
        
</body>
</html>