<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<!DOCTYPE html>
<html>

<head>
	<title>코로나 현황</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free singlepage web template created by GraphBerry">
	<meta name="keywords" content="HTML5, Bootstrap 3, CSS3, javascript, PHP, Responsive, Mobile">
	<meta name="author" content="GraphBerry.com" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i" rel="stylesheet">
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/slick.css">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>

	<header id="header">

		<!-- Section title -->
		<h1 class="sr-only">코로나</h1>

		<nav class="navbar navbar-default navbar-fixed-top">
			<!-- Section title -->
			<h1 class="sr-only">Main navigation</h1>

			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#main-navbar" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand smoothScroll" href="#home">
						<img alt="Modus" src="img/lona2.png">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="main-navbar">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a class="smoothScroll" href="#home">Main <span
									class="sr-only">(current)</span></a></li>
						<li><a class="smoothScroll" href="#portfolio">Chart</a></li>
						<li><a class="smoothScroll" href="#services">Video</a></li>
						<li><a class="smoothScroll" href="#clients">Map</a></li>
						<!-- <li><a class="smoothScroll" href="#contact">Contact</a></li> -->
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container -->
		</nav>

	</header>

	<main>

		<section id="home">

			<!-- Section title -->
			<h1 class="sr-only">Home section</h1>

			<div class="overlay"></div>

			<div class="home-content">

				<div class="container">

					<div class="row">

						<div class="col-md-8 col-md-offset-2">

							<span class="h5">코로나 19 / 서울시 / 백신접종</span class="h5">

							<h2 class="h1">코로나 19 정보수집 사이트</h2>

							<div class="cta-container">

								<a href="#portfolio" class="btn btn-default smoothScroll">현황 보기</a>

								<a href="#services" class="btn btn-primary smoothScroll">관련 영상</a>

							</div>

						</div>

					</div>

				</div>

			</div>

			<a id="down-icon" class="down-icon smoothScroll" href="#history">
				<img class="down-arrow" src="img/svg/down_icon.svg" alt="Down arrow">
			</a>

		</section>

		<section id="history">

			<!-- Section title -->
			<h1 class="sr-only">History section</h1>

			<div class="container">

				<div class="row">

					<div class="col-md-8 col-md-offset-2">

						<div class="history-content">

							<h2 class="section-title">코로나바이러스감염증-19 (코로나19)<br>
								Coronavirus disease 2019 (COVID-19)</h2>

							<p>발병 초창기엔 "우한 폐렴"이나 "신종 코로나 (바이러스)"를 썼으나 WHO 에서 제네바 현지 시각으로 2020년 2월 11일 공식 명칭을
								COVID-19[30]로 확정하였으며, 한국에서는 코로나바이러스감염증-19(줄여서 코로나19)로 번역하였다. 원인 바이러스에 대해서는 국제 바이러스 분류 체계
								위원회에서 해당 바이러스를 SARS-CoV의 변종으로 보고 SARS-CoV-2로 명명하였다.</p>

						</div>

					</div>

				</div>

			</div>

		</section>

		<section id="portfolio">

			<!-- Section title -->
			<h1 class="sr-only">Portfolio section</h1>

			<div class="slider-container">

				<figure class="project grabbable">
					<img class="img-responsive" src="img/portfolio/01.jpg" alt="Project Image">
					<div class="description">
						<figcaption><a href="http://localhost:5000/seoul" class="btn btn-info">
								<h3>서울시 확진자 현황</h3>
							</a></figcaption>

					</div>
				</figure>

				<figure class="project grabbable">
					<img class="img-responsive" src="img/portfolio/02.jpg" alt="Project Image">
					<div class="description">
						<figcaption><a href="http://localhost:5000/kor" class="btn btn-info">
								<h3>국내 확진자 현황</h3>
							</a></figcaption>

					</div>
				</figure>

				<figure class="project grabbable">
					<img class="img-responsive" src="img/portfolio/03.jpg" alt="Project Image">
					<div class="description">
						<figcaption><a href="http://localhost:5000/vac" class="btn btn-info">
								<h3>백신 접종 현황</h3>
							</a></figcaption>

					</div>
				</figure>

				<!-- <figure class="project grabbable">
					<img class="img-responsive" src="img/portfolio/04.jpg" alt="Project Image">
					<div class="description">
						<figcaption><h5>Random artwork</h5></figcaption>
						<p>Vivamus suscipit tortor eget felis porttitor
						volutpat. Vestibulum ac diam sit amet
						quam vehicula elementum sed sit amet dui.
						Pellentesque in ipsum id orci. </p>
						<ul class="social-list">
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</figure> -->

				<!-- <figure class="project grabbable">
					<img class="img-responsive" src="img/portfolio/05.jpg" alt="Project Image">
					<div class="description">
						<figcaption><h5>Random artwork</h5></figcaption>
						<p>Vivamus suscipit tortor eget felis porttitor
						volutpat. Vestibulum ac diam sit amet
						quam vehicula elementum sed sit amet dui.
						Pellentesque in ipsum id orci. </p>
						<ul class="social-list">
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</figure>

				<figure class="project grabbable">
					<img class="img-responsive" src="img/portfolio/06.jpg" alt="Project Image">
					<div class="description">
						<figcaption><h5>Random artwork</h5></figcaption>
						<p>Vivamus suscipit tortor eget felis porttitor
						volutpat. Vestibulum ac diam sit amet
						quam vehicula elementum sed sit amet dui.
						Pellentesque in ipsum id orci. </p>
						<ul class="social-list">
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</figure> -->

			</div>

		</section>

		<section id="services">

			<!-- Section title -->
			<h1 class="sr-only">Services section</h1>

			<div class="container">

				<div class="row">

					<div class="col-md-4">

						<!-- <div class="service">
						<figure>
						   <img src="img/svg/services/idea.svg" alt="Idea image">
						   <div class="separator"></div>
						   <figcaption><h5>Idea</h5></figcaption>
						</figure>
						<p>Vivamus suscipit tortor eget felis porttitor 
						volutpat. Vestibulum ac diam sit amet 
						quam vehicula elementum sed sit amet dui. 
						Pellentesque in ipsum id orci. </p>
					 </div> -->

						<iframe width="400" height="300" src="https://www.youtube.com/embed/RO8H8Fjahp0"
							title="YouTube video player" frameborder="0" allow="accelerometer; autoplay ; 
					 clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					</div>

					<div class="col-md-4">

						<!-- style="padding: 0px 0px 0px 0px;" -->
						<!-- <div class="service">
						<figure>
						   <img src="img/svg/services/work.svg" alt="Work image">
						   <div class="separator"></div>
						   <figcaption><h5>Work</h5></figcaption>
						</figure>
						<p>Vivamus suscipit tortor eget felis porttitor 
						volutpat. Vestibulum ac diam sit amet 
						quam vehicula elementum sed sit amet dui. 
						Pellentesque in ipsum id orci. </p>
					 </div> -->

						<iframe width="400" height="300" src="https://www.youtube.com/embed/16FFN9O47yk"
							title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
					 encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					</div>

					<div class="col-md-4">

						<!-- <div class="service">
						<figure>
						   <img src="img/svg/services/deliver.svg" alt="Deliver image">
						   <div class="separator"></div>
						   <figcaption><h5>Deliver</h5></figcaption>
						</figure>
						<p>Vivamus suscipit tortor eget felis porttitor 
						volutpat. Vestibulum ac diam sit amet 
						quam vehicula elementum sed sit amet dui. 
						Pellentesque in ipsum id orci. </p>
					 </div> -->
						<iframe width="400" height="300" src="https://www.youtube.com/embed/APOt56usrt4"
							title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; e
					 ncrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>

				</div>

			</div>

		</section>
		<section id="clients">

			<!-- Section title -->
			<h1 class="sr-only">Clients section</h1>

			<div class="container">

				<div class="row">

					<div class="col-md-8 col-md-offset-1">

						<div class="clients-content">

							<h2>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;서울시 선별진료소</h2>
							<br>
							<br>
							<a href="https://map.seoul.go.kr/smgis2/short/6NjT7" target="_blank">
								<img src="img\12.png" height="500" width="1000">
							</a>
							
						</div>

					</div>

				</div>


			</div>

		</section>

		<!-- <section id="contact">

			
			<h1 class="sr-only">Contact section</h1>
			
			<div class="container">
					
				<div class="row">
					
					<div class="col-md-6">
						
						<div id="about-subsection" class="contact-subsection">
							
							<h2 class="sub-section-title">About us</h2>

							<p>Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum 
							ac diam sit amet quam vehicula elementum sed sit amet dui. 
							Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. 
							Curabitur aliquet quam id dui posuere blandit. Donec rutrum 
							congue leo eget malesuada. Vivamus suscipit tortor eget 
							felis porttitor volutpat. Vivamus suscipit tortor eget felis.</p>

						</div>

					</div>

					<div class="col-md-6">
						
						<div id="form-subsection" class="contact-subsection">
							
							<h2 class="sub-section-title">Contact us</h2>

							<form>

								<div class="form-group">
									<label class="email-label" for="Email">Email</label>
									<input type="email" class="form-control" id="Email">
								</div>

								<div class="form-group">
								    <label class="message-label" for="Message">Message</label>
								  	<textarea class="form-control" id="Message" rows="2"></textarea>
								</div>
							  
							  	<button type="submit" class="btn btn-default pull-right">Send</button>

							</form>

						</div>

					</div>

				</div>

			</div>

		</section> -->

	</main>

	<footer id="footer">

		<!-- Section title -->
		<h1 class="sr-only">Footer section</h1>

		<div class="container">

			<div class="row">

				<!-- <div class="col-sm-6">
				 <small class="copyright">Team 2 <i class="fa fa-love"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#home"><i class='fa fa-user-circle-o'></i></a>
  
			  </div>
  
			  <div class="col-sm-6">
				 <ul class="social-list">
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				 </ul>
			  </div> -->

				<div class="col-md-4 col-md-offset-1">
					<a href="https://mohw.go.kr/react/ncov_map_page.jsp" target="_blank">
						<img src="img\1.jpg" height="90" width="250">
					</a>
				</div>

				<div class="col-md-4">
					<a href="https://ncvr.kdca.go.kr/cobk/index.html" target="_blank">
						<img src="img\2.jpg" height="90" width="250">
					</a>
				</div>

				<div class="col-md-4"></div>
				<a href="https://ncv.kdca.go.kr/coov" target="_blank">
					<img src="img\3.jpg" height="90" width="250">
				</a>
			</div>

		</div>

		</div>

	</footer>
	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="static/js/smooth-scroll.min.js"></script>
	<script type="text/javascript" src="static/js/modernizr.mq.js"></script>
	<script type="text/javascript" src="static/js/slick.min.js"></script>

	<!-- Latest compiled and minified JavaScript Bootstrap-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<!-- Custom JS -->
	<script src="static/js/custom.js"></script>

</body>

</html>